:root {
    --background: #0d0d0f;
    --text: #ffffff;
    --lightmodetext: #cccccc;
    --link: #ff7613;
    --card: #26262b;
    --lightmodecard: #2d2d33;
    --header: #d3d2d3;
}
html {
    color: var(--text);
    background-color: var(--background);
}
a, a:after {
    color: var(--link);
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor-images {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap: 20px;
}

.sponsor-images img {
    width: 150px;
    height: 150px; 
    object-fit: contain;
    border-radius: 8px;
    background-color: var(--card);
}

#FM, #mindex {
    object-fit: fill;
}

@media (max-width: 768px) {
    .sponsor-images img {
        width: 120px;
        height: 120px;
    }
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials svg{
    width: 50px;
    height: 50px; 
    object-fit: contain;
}

