:root {
    --background: #0d0d0f;
    --text: #ffffff;
    --link: #ff7613;
    --card: #26262b;
}

$background-color: #2d2d33;

html {
    color: var(--text);
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1), 33%, rgba(0, 0, 0, 0), 60%, rgba(0, 0, 0, 1));
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a, a:after {
    color: var(--link);
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

h4 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
}

h6 {
    font-size: 1.25rem;
    margin: 0.25rem 0;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        background-color: rgba($background-color, 0.8);
        padding: 0.5%;
        border-radius: 8px;
    }
    .about {
        margin-left: 7rem;
        margin-right: 7rem;
    }
    .subsections {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        align-items: center;
        .registration {
            height: fit-content;
        }
        .prizes {
            height: fit-content;
        }
    }
}



.background-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.background-container::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    pointer-events: none;
    background-image: url('/assets/images/lock_doodle.svg');
    background-size: 8%;
    background-repeat: repeat;
    animation: floatBackground 50s infinite linear;
  }
  
  @keyframes floatBackground {
    0% {
      background-position: 0% 0%;
      opacity: 0%;
    }
    2% {
        opacity: 100%;
    }
    98% {
        opacity: 100%;
    }
      100% {
        background-position: 97% 97%;
        opacity: 0%;
      }
  }


.navigation {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation-links {
        display: flex;
        gap: 1em;
        font-size: 1.25rem;
        > a {
            &:hover {
                color: #e69138;
            }
        }
    }
}

.onpagelogo {
    width: 120px;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.alien-message {
    font-family: "Orbitron", serif;
    text-align: left;
}

.sponsors {
    display: flex;
    flex-direction: column;
    .sponsor-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    
        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
            border-radius: 20%;
            //background-color: var(--card);
        }

        div {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}



#FM, #mindex {
    object-fit: fill;
}

footer {
    padding: 1em;
    color: var(--link);
    .footer-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    
        svg {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }
}

@media (max-width: 768px) {
    .sponsor-images img {
        width: 120px;
        height: 120px;
    }

    .onpagelogo {
        width: 100px;
        height: auto;
    }
}
